mixin image(image)
  .card
    .card-image
      if image.dataURI
        div.image-wrapper(style=`background-image: url("${image.dataURI}");`)
          img.image(src=`./prepared/${image.prepared.name}.jpg`)
      else
        img(src=`./prepared/${image.prepared.name}.jpg` style=`display: block !important;`)
    .card-header
      strong.card-title= `${image.title} @ ${image.width}px`
    .card-body
      if image.primitive
        .container
          .columns
            .column.col-auto
              i.icon.icon-time
              span=` ${(image.meanDuration / 1000).toFixed(2)}s`
            .column.col-auto
              i.icon.icon-apps
              span=` ${image.primitiveOptions.numberOfPrimitives} × ${image.primitiveOptions.modeTitle}`
        table.table.table-nowrap
          tr
            td Original
            td=`${image.meanSizes.original}B`
            td=prettysize(image.meanSizes.original)
            td=`${(image.meanSizes.original / image.meanSizes.original * 100).toFixed(2)} %`
          tr
            td Gzip
            td=`${image.meanSizes.gzip}B`
            td=prettysize(image.meanSizes.gzip)
            td=`${(image.meanSizes.gzip / image.meanSizes.original * 100).toFixed(2)} %`
          tr
            td Brotli
            td=`${image.meanSizes.brotli}B`
            td=prettysize(image.meanSizes.brotli)
            td=`${(image.meanSizes.brotli / image.meanSizes.original * 100).toFixed(2)} %`
          tr
            td.center-text(colspan='4')
              button.btn(onClick=`document.getElementById('${image.hash}').className='modal active'`) Show Full Data
      .modal(id=image.hash)
        a.modal-overlay(href='#close', aria-label='Close', onClick=`document.getElementById('${image.hash}').className='modal'`)
        .modal-container
          .modal-header
            a.btn.btn-clear.float-right(href='#close', aria-label='Close', onClick=`document.getElementById('${image.hash}').className='modal'`)
            .modal-title.h5= `${image.title} Data Set`
          .modal-body
            .content
              pre.code(style='font-size: 0.8em;')
                code= image.configString
