extends layout.pug
include mixins/image.pug

block content
  h1 Embedded image preview research - LQIP & SQIP
  div(class='grid')
    each page in pages
      .card
        .card-header
          a.card-title.h5(href=`./${page.pagename}`)= page.title
        .card-body
          table.table
            tr
              td Original
              td=`${page.sizes.original}B`
              td=prettysize(page.sizes.original)
            tr
              td Gzip
              td=`${page.sizes.gzip}B`
              td=prettysize(page.sizes.gzip)
            tr
              td Brotli
              td=`${page.sizes.brotli}B`
              td=prettysize(page.sizes.brotli)
