include mixins/image.pug
doctype html
html(lang="en")
  head
    title #{title} - SVG image preview
    style
      include style.css
      include ../node_modules/spectre.css/dist/spectre.min.css
  body
    .container
      h1 #{title}
      div(class='grid')
        each page in pages
          .card
            .card-header
              a.card-title.h5(href=`./${page.pagename}`)= page.title
            .card-body
              table.table.table-hover
                tr
                  td Original size:
                  td=`${page.sizes.original}B`
                  td=prettysize(page.sizes.original)
                tr
                  td Gzip size:
                  td=`${page.sizes.gzip}B`
                  td=prettysize(page.sizes.gzip)
                tr
                td Brotli size:
                td=`${page.sizes.brotli}B`
                td=prettysize(page.sizes.brotli)
